body {
  font-family: arial, sans-serif;
}
.weather-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #5f6368;
  border-radius: 20px;
}
h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: arial, sans-serif;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 14px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
.weather-temp img {
  margin-right: 30px;
}
.weather-temp strong {
  font-size: 40px;
}
.weather-temp small {
  position: relative;
  top: -20px;
}
li:first-letter {
  text-transform: capitalize;
}
